[Unit]
Description=Enrollment Helper for ElasticStack
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/share/enrollment_helper/bin/python3 /usr/share/enrollment_helper/enrollment_helper.py

[Install]
WantedBy=multi-user.target